@charset "UTF-8";

/* Printer Styles */

* {
    padding: 10px;
    margin: 0px;
}

html, body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.2em
}

menu {
    display: none;
}

p {
    text-indent: 40px;
    text-align: justify;
}

article::after {
    content: 'Artigo impresso para estudo de Media Queries em CSS, 2024.';
    display: block;
    margin-top: 30px;
}