@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h2 {
    color: #34a0a4;
}

p {
    text-indent: 26px;
}

p.no-indent {
    text-indent: 0;
}

strong {
    color: #1a759f;
}

a {
    background-color: #e4e4e4;
    color: #34a0a4;
    text-decoration: none;
    padding: 4px 12px;
    border-radius: 4px;
}

a:hover {
    color: #1e6091;
}

div.example1 {
    display: inline-block;
    background-color: #dfdfdf;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid #000000;
}

div.example1:hover {
    background-color: #b5e48c;
}

div.example2 {
    cursor: default;
    text-indent: 20px;
    width: 200px;
}

div.example2:hover {
    color: #76c893;
}

div > p {
    display: none;
}

div.example2:hover > p {
    display: block;
    color: #000000;
    background-color: #76c893;
    width: 200px;
    text-align: center;
}