@charset "UTF-8";

/* DM Sans font import */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans';
}

main {
    max-width: 600px;
    background-color: #e7e7e7;
    border-radius: 10px;
    box-shadow: 0 5px 25px 0 #00000036;
    margin: 0 50px 0 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 0 3vh 0;
    background: linear-gradient(45deg, #4526c9 0%, #5400ad 30%, #ff0083 100%);
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section {
    padding: 20px 40px;
}

section h2 {
    text-align: center;
    padding: 10px 0 20px 0;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

section label, p {
    width: fit-content;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #424242;
    cursor: pointer;
}

input {
    border: none;
    height: 35px;
    border-radius: 5px;
    font-family: 'DM Sans';
    padding: 0 10px;
    color: #5742b1;
}

input:focus {
    outline: 1px solid #4526c9;
}

#radioInputDiv {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 20px;
}

#radioInputDiv div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#radioInputDiv input {
    height: fit-content;
    accent-color: #5400ad;
}

#radioInputDiv input:focus {
    outline: transparent;
}

#radioInputDiv input:checked + label {
    color: #5400ad;
}

#radioInputDiv label {
    margin: 0
}

#submitButton {
    position: relative;
    display: block;
    margin: 0 auto 20px auto;
    width: 160px;
    height: 40px;
    background-color: #4526c9;
    color: #FFFFFF;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

#submitButton:hover {
    background-color: #ff0083;
}