@charset "UTF-8";

body {
    background-color: #272727;
    font-family: Arial;
}

h1 {
    background-color: #424242;
    color: #ff7950;
}

h2, p {
    color: #cfcfcf;
}

p {
    text-align: justify;
}

a {
    color: #ff7950;
}