@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5c5c5;
}

header {
    background-color: #c5c5c5;
}

header h1 {
    text-align: center;
    padding: 30px 30px;
}

menu {
    display: none;
}

span#menu-icon {
    display: block;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

span#menu-icon:hover, span#menu-icon:active {
    background-color: #616161;
}

header ul {
    list-style-type: none;
}

header a {
    display: block;
    background-color: #494949;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
    border-top: 2px solid #c5c5c5;
    transition: all 0.1s ease-out;
}

header a:hover, a:active{
    background-color: #777777;
}

main {
    background-color: #ffffff;
    padding: 20px 40px;
}

main h1 {
    margin: 10px 0;
    font-size: 1.6em;
}

main p {
    margin: 20px 0;
    text-indent: 40px;
    text-align: justify;
    line-height: 1.4em;
}

