@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0 30px;
}

h1 {
    color: #10144e;
}

a {
    background-color: #e2e2e2;
    color: #10144e;
    text-decoration: none;
    padding: 4px 12px;
    margin: 0 4px;
    border-radius: 4px;
}

a:active {
    background-color: #c9c9c9;
}

h2 {
    color: #166c9b;
}

h3, strong {
    color: #00aebb;
}

p {
    text-align: justify;
    text-indent: 30px;
}

li {
    margin: 16px 0;
}

img {
    display: block;
    margin: auto;
    border-radius: 6px;
}

code {
    background-color: #e6e6e6;
    font-size: 1.2em;
    padding: 3px 6px;
    border-radius: 4px;
}

h1.h1example {
    color: #000000;
}

h1#hbox, p#pbox, div#dbox, span#sbox, button#bbox, input#ibox, strong#strongbox {
    background-color: #c5c5c5;
    color: #000000;
}

p#pbox {
    text-indent: 0;
}